body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container{
    width: 800px;
    margin: 0 auto;
}
pre {
    background-color: #c8c3c3;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Consolas, monospace;
    font-size: 12px;
}
